h2 {
    margin-top: 40px;
padding-left: 60px;
border-top-width: 40px;
border-top-style: solid;
border-left-width: 10px;
border-left-style: solid;
border-right-width: 10px;
border-right-style: solid;
border-bottom-width: 10px;
border-bottom-style: solid;
margin-left: 80px;  
}